body
	background black
	color white
	font-family fantasy
.item-menu
	color white
	font-size 115px
	&:hover
		color black
		text-decoration none
		font-size 8em
		font-weight bold
.cuerpo
	margin-top 2em
h1
	font-size 4em
	font-weight bold
	margin-left 4em
.boton
	font-size 4em
	border-radius 45px
	// background #1e5ac5
.icono-menu
	font-size 4em
	padding-right 0.5em
	font-weight bold
	&:hover
		text-decoration none
.label_grande
	font-size 3em
.input_grande
	font-size 5em
	text-align center
	height 90px
	padding-top 0
	// line-height 0
.combito
	height 2em
	font-size 5em
p
	margin 0 0 20px
.my_form
	padding-top 2em
	margin-bottom 33em
.form-horizontal
	.form-group
		margin-right 0
		margin-left 0
.items
	background #1E5AC5
	height 180px
	text-align center
	padding-top 0.04em
input[type="time"]
	line-height 60px
.flechita
	font-size 10em
	margin-top 0.5em
.row
	margin-right 0
	margin-left 0
#myModal
	margin-top 10em
#fecha
	font-size 3em
	font-weight bold